<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cancel</title>
    <style type="text/css">
        body{
            font-family: sans-serif;
            background-image: url("https://cadcamcae.files.wordpress.com/2009/01/2560x1600.jpg");
            Position: absolute;
            left: 500px;

        }

    </style>
</head>
<body>
<h2>One of the categories hasn't been found!</h2>
</body>
</html>