<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Search City</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'></link>
	<link rel='stylesheet' type="text/css"

		  th:href="@{GalleryStyle.css}"/>

<style>
	.stylish-input-group .input-group-addon{
    background: white !important; 
	}
	.stylish-input-group .form-control{
		border-right:0;
		box-shadow:0 0 0;
		border-color:#ccc;
	}
	.stylish-input-group button{
		border:0;
		background:transparent;
	}
</style>

</head>
<body style="background: url(https://s-media-cache-ak0.pinimg.com/originals/cd/fe/f8/cdfef8be83d6bcab8721cd608c278b00.jpg) no-repeat center fixed; background-size: cover;">

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: rgba(40,40,40,0.9); border-bottom-style: none;">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://localhost:8080/" style="color: white ; font-weight: bold">Principal</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="http://localhost:8080/entrarPreguntesFlow" style="color: white; font-weight: bold">Entrar preguntes</a></li>
				<li><a href="#about" style="color: white; font-weight: bold">NNNN</a></li>
				<li><a href="http://localhost:8080/Weather" style="background-color: rgba(150,150,150,0.9); color: rgba(40,40,40,1); font-weight: bold">Weather</a></li>
			</ul>
		</div>
	</div>
</nav>


	<div class="container" style="margin-top: 20%">
		<div class="row">
	        <div class="col-sm-6 col-sm-offset-3">
	            <div id="imaginary_container"> 
	                <div class="input-group stylish-input-group">
	                    <input type="text" class="form-control" style="background-color: rgba(40,40,40,0.9);color: white; font-weight: bold" id="search" placeholder="Buscar" />
	                    <span class="input-group-addon">
	                        <button type="submit" onclick="send()" >
	                            <span class="glyphicon glyphicon-search" style="color: black;"></span>
	                        </button>  
	                    </span>
	                </div>
	            </div>
	        </div>
		</div>
	</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>	
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
	<script>
		function send () {
			var search = document.getElementById("search").value;
			document.location.href= "http://localhost:8080/Weather/" + search;
		}
	</script>
</body>
</html>