<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

</head>
<body style="padding-left: 20%; padding-right: 20%; background-color: #434441">


<form method="POST" th:object="${usuari}">

    <div calss="container" style="background-color: #cfd2cc; padding-top: 1%; padding-bottom: 2%;padding-left: 3%; padding-right: 3%; margin-top: 15%; border-radius: 15px;">
		    <h4 style="text-align: center; font-size: 30px">Register</h4>
		    <input type="text" class="form-control input-sm chat-input" placeholder="Username" th:field="*{nom}"  /><br/>
		    <input type="text" class="form-control input-sm chat-input" placeholder="Email" th:field="*{mail}"/><br/>
		    <input type="password" class="form-control input-sm chat-input" placeholder="Password" name="password" th:field="*{contrasenya} "/><br/>
    		<input type="submit"  class="btn btn-primary btn-lg btn-block" value="Create User" />
    </div>
</form>



<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>
</body>
</html>